<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modalHeaderText}}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="emitCancelEvent()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{modalBodyText}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="emitDeleteEvent()">{{DeleteButtonText}}</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="emitCancelEvent()">{{cancelButtonText}}</button>
      </div>
    </div>
   </div>
</div>