<main class="content">
  <div class="container-fluid">

    <div class="header">
      <h1 class="header-title">
        Patients List
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">Tables</a></li>
          <li class="breadcrumb-item active" aria-current="page">DataTables</li>
        </ol>
      </nav>
    </div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <a [routerLink]="['/patient/create']">Create Patient</a>
        <h5 class="card-title">aqui va un boton lindo de crear</h5>
        <h6 class="card-subtitle text-muted"></h6>
      </div>
      <div class="table-responsive">
        
        <table id="datatables-basic" class="table table-striped table-hover" style="width:120%">
          <thead>
            <tr>
                  <th>FirstName</th>
                  <th>Middle</th>
                  <th>LastName</th>
                  <th>Birth</th>
                  <th>Social Security</th>
                  <th>Gender</th>
                  <th>Phone1</th>
                  <th>Phone2</th>
                  <th>EMail</th>
                  <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patiens">
              <td>{{patient.firstName}}</td>
              <td>{{patient.middle}}</td>
              <td>{{patient.lastName}}</td>
              <td>{{patient.dateOfBirth}}</td>
              <td>{{patient.socialSecurityNumber}}</td>
              <td>{{patient.gender}}</td>
              <td>{{patient.phone1}}</td>
              <td>{{patient.phone2}}</td>
              <td>{{patient.eMail}}</td>
              <td class="table-action">
                <a href="#" (click)="redirectToDetailsPage(patient.idPatient)"><i class="align-middle fas fa-fw fa-list"></i></a>
                <a><i class="align-middle fas fa-fw fa-pen" (click)="redirectToUpdatePage(patient.idPatient)"></i></a>
                <a href="#" (click)="deletePatient($event,patient.idPatient)"><i class="align-middle fas fa-fw fa-trash "></i></a>
              </td>
            <tr>
        </table>
      </div>
      <app-delete-modal 
              [modalHeaderText]="'Delete message'" 
              [modalBodyText]="'Action completed successfully'" 
              [DeleteButtonText]="'Borrar'"
              [cancelButtonText]="'Cancelar'" 
              [routeToRedirect]="'/patient/list'">
            </app-delete-modal>
    </div>
  </div>
  <script src="js/app.js"></script>
  <script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true,
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				lengthChange: !1,
				buttons: ["copy", "print"],
				responsive: true
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>