<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title"> DataTables</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">Tables</a></li>
          <li class="breadcrumb-item active" aria-current="page">DataTables</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <a [routerLink]="['/user/create']">Create User</a>
            <h5 class="card-title">Users List</h5>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th style="width:30%">User Name</th>
                <th class="d-none d-md-table-cell" style="width:30%">PassWord</th>
                <th style="width:30%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.userName}}</td>
                <td>{{user.pasword}}</td>
                <td class="table-action">
                  <a href="#"><i class="align-middle fas fa-fw fa-list"></i></a>
                  <a href="#"><i class="align-middle fas fa-fw fa-pen"></i></a>
                  <a href="#"><i class="align-middle fas fa-fw fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        	<script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				lengthChange: !1,
				buttons: ["copy", "print"],
				responsive: true
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>
