<main class="content">
    <div class="container-fluid">
      <div class="header">
        <h1 class="header-title"> DataTables</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page">DataTables</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a [routerLink]="['/doctor/create']">Create User</a>
              <h5 class="card-title">Doctor List</h5>
            </div>
            <table class="table">
              <thead>
                <tr>
                 
                  <th class="d-none d-md-table-cell" style="width:30%">FirstName</th>
                  <th class="d-none d-md-table-cell" style="width:30%">Middle</th>
                  <th class="d-none d-md-table-cell" style="width:30%">LastName</th>
                  <th class="d-none d-md-table-cell" style="width:30%">DateOfBirth</th>
                  <th class="d-none d-md-table-cell" style="width:30%">Phone1</th>
                  <th class="d-none d-md-table-cell" style="width:30%">Phone2</th>
                  <th class="d-none d-md-table-cell" style="width:30%">EMail</th> 
                  <th class="d-none d-md-table-cell" style="width:30%">NPI</th>
                  <th style="width:30%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of doctors">
                  <td>{{doctor.firstName}}</td>
                  <td>{{doctor.middle}}</td>
                  <td>{{doctor.lastName}}</td>
                  <td>{{doctor.dateOfBirth}}</td>
                  <td>{{doctor.phone1}}</td>
                  <td>{{doctor.phone2}}</td>
                  <td>{{doctor.eMail}}</td>
                  <td>{{doctor.npi}}</td>
                  <td class="table-action">
                    <a (click)="redirectToDetailPage(doctor.idDoctor)"><i class="align-middle fas fa-fw fa-list" ></i></a>
                    <a><i class="align-middle fas fa-fw fa-pen"(click)="redirectToUpdatePage(doctor.idDoctor)"></i></a>
                    <a (click)="DeleteDoctor($event,doctor.idDoctor)"><i class="align-middle fas fa-fw fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <app-delete-modal 
              [modalHeaderText]="'Delete message'" 
              [modalBodyText]="'Action completed successfully'" 
              [DeleteButtonText]="'Borrar'"
              [cancelButtonText]="'Cancelar'" 
              [routeToRedirect]="'/doctor/list'">
            </app-delete-modal>
        </div>
              <script>
          $(function() {
              // Datatables basic
              $('#datatables-basic').DataTable({
                  responsive: true
              });
              // Datatables with Buttons
              var datatablesButtons = $('#datatables-buttons').DataTable({
                  lengthChange: !1,
                  buttons: ["copy", "print"],
                  responsive: true
              });
              datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
          });
      </script>
  