<main class="content">
    <div class="container-fluid">
      <div class="header">
        <h1 class="header-title">Form Layouts</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="dashboard-default.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Form Layouts
            </li>
          </ol>
        </nav>
      </div>
  
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Doctor Information</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="employeeDetail" novalidate>
              <div class="row">
                <div class="form-group col-md-6" formGroupName="user">
                  <label for="inputUser">UserName:</label>
                  <input
                    type="userName"
                    formControlName="userName"
                    class="form-control"
                    id="userName"
                    placeholder="UserName"
                  />
                </div>
                <!-- <div class="form-group col-md-6" formGroupName="user">
                    <label for="inputPassword4">Password:</label>
                    <input
                      type="password"
                      formControlName="pasword"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                    />
                  </div> -->
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputFirstName">First Name:</label>
                  <input
                    type="firstName"
                    formControlName="firstName"
                    class="form-control"
                    id="firstName"
                    placeholder="FirstName"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputAddress2">Middle Name:</label>
                  <input
                    type="text"
                    formControlName="middle"
                    class="form-control"
                    id="middle"
                    placeholder="Middle"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputAddress2">Last Name:</label>
                  <input
                    type="text"
                    formControlName="lastName"
                    class="form-control"
                    id="lastName"
                    placeholder="Last Name"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label for="inputCity">Date Of Birth:</label>
                  <input
                    type="text"
                    formControlName="dateOfBirth"
                    class="form-control"
                    id="dateOfBirth"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label for="inputNPI">NPI:</label>
                  <input
                    type="text"
                    formControlName="npi"
                    class="form-control"
                    id="npi"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-2">
                  <label for="inputPhone1">Phone 1: </label>
                  <input
                    type="text"
                    formControlName="phone1"
                    class="form-control"
                    id="Phone1"
                    placeholder="Phone 1"
                  />
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Phone 2: </label>
                  <input
                    type="text"
                    formControlName="phone2"
                    class="form-control"
                    id="Phone2"
                    placeholder="Phone 2"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label for="inputZip">Email: </label>
                  <input
                    type="eMail"
                    formControlName="eMail"
                    class="form-control"
                    id="eMail"
                    placeholder="Email"
                  />
                </div>
                <!-- <div class="form-group col-md-3">
                                      <label for="inputAdress1">Adress 1:</label>
                                      <input type="text"formControlName="adress1" class="form-control" id="adress1" placeholder="Adress 1">
                                  </div> -->
              </div>
              <br /><br />
              <!-- <div>
                  <button
                    type="submit"
                    class="btn btn-primary mb-2"
                    style="float: right"
                  >
                    save
                  </button>
                </div>
                <div class="row">
                  <div>
                    <button type="cancel" class="btn btn-danger" style="float: right">
                      Cancel
                    </button>
                  </div>
                </div> -->
            </form>
            <app-success-modal
              [modalHeaderText]="'Success message'"
              [modalBodyText]="'Action completed successfully'"
              [okButtonText]="'OK'"
            ></app-success-modal>
          </div>
        </div>
      </div>
    </div>
  </main>
  