<p>employee-create works!</p>

<div class="container-fluid">

    <div class="header">
        <h1 class="header-title">
            Form Layouts
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Personal Information</h5>
                <h6 class="card-subtitle text-muted">Bootstrap column layout.</h6>
            </div>
            <div class="card-body">
                <form class="needs-validation" [formGroup] ="employeeForm" novalidate (ngSubmit)="executeEmployeeCreation($event,employeeForm.value)">
                    <div class="row">
                        <div class="form-group col-md-6 has-validation">
                            <label for="inputUser">UserName:</label>
                            <input type="userName" formControlName="userName" class="form-control" id="userName" placeholder="UserName" required>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                        <div class="form-group col-md-6 has-validation">
                            <label for="inputPassword4">Password:</label>
                            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Please choose a password.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-6 has-validation">
                        <label for="inputFirstName">First Name:</label>
                        <input type="firstName" formControlName="firstName" class="form-control" id="firstName" placeholder="FirstName">
                        <div class="invalid-feedback">
                            Please choose a first name.
                        </div>
                    </div>
                    <div class="form-group col-md-6 has-validation">
                        <label for="inputAddress2">Middle Name:</label>
                        <input type="text" formControlName="middle" class="form-control" id="middle" placeholder="Middle">
                        <div class="invalid-feedback">
                            Please choose a middle name.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 has-validation">
                        <label for="inputAddress2">Last Name:</label>
                        <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
                        <div class="invalid-feedback">
                            Please choose a last name.
                        </div>
                    </div>
                    <div class="form-group col-md-3 has-validation">
                        <label for="inputCity">Date Of Birth:</label>
                        <input type="date" formControlName="dateOfBirth" class="form-control" id="dateOfBirth" required>
                        <div class="invalid-feedback">
                            Please choose a birthdate.
                        </div>
                    </div>
                    <div class="form-group col-md-3 has-validation">
                        <label for="inputCity">SocialSecurityNumber:</label>
                        <input type="text" formControlName="npi" class="form-control" id="npi" required>
                        <div class="invalid-feedback">
                            Please choose a npi.
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="form-group col-md-2 has-validation">
                            <label for="inputState">Gender:</label>
                            <select id="gender" class="form-control" formControlName="gender" required>
                                <option selected>Choose...</option>
                                <option>Female</option>
                                <option>Male</option></select>
                                <div class="invalid-feedback">
                                    Please choose a gender.
                                </div>
                        </div>
                        <div class="form-group col-md-2 has-validation">
                            <label for="inputPhone1">Phone 1: </label>
                            <input type="text" mask="000-000-0000" formControlName="phone1" class="form-control" id="Phone1"placeholder="Phone 1" required>
                        </div>
                        <div class="form-group col-md-2 has-validation">
                            <label for="inputZip">Phone 2: </label>
                            <input type="text" mask="000-000-0000" formControlName="phone2" class="form-control" id="Phone2"placeholder="Phone 2">
                        </div>
                        <div class="form-group col-md-3 has-validation">
                            <label for="inputZip">Email: </label>
                            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" required>
                            <div class="invalid-feedback">
                                Please choose a email.
                            </div>
                        </div>
                        <div class="form-group col-md-3 has-validation">
                            <label for="inputAdress1">Adress 1:</label>
                            <input type="text" formControlName="address1" class="form-control" id="adress1" placeholder="Adress 1">
                        </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 has-validation">
                        <label for="inputAdress1">Adress 2:</label>
                        <input type="text" formControlName="address2" class="form-control" id="adress2" placeholder="Adress 2">
                    </div>
                    <div class="form-group col-md-3 has-validation">
                        <label for="inputAdress1">City:</label>
                        <input type="text" formControlName="city" class="form-control" id="city" placeholder="City" required>
                        <div class="invalid-feedback">
                            Please choose a city.
                        </div>
                    </div>
                    <div class="form-group col-md-3 has-validation">
                        <label for="inputAdress1">State:</label>
                        <input type="text" formControlName="state" class="form-control" id="state" placeholder="State">
                    </div>
                    <div class="form-group col-md-3 has-validation">
                        <label for="inputAdress1">ZipCode:</label>
                        <input type="text" formControlName="zipcode" class="form-control" id="zipcode" placeholder="zipcode" required>
                        <div class="invalid-feedback">
                            Please choose a zipcode.
                        </div>
                    </div>
                </div>
           
                 <div>
                    <button type="submit" class="btn btn-primary mb-2"style="float: right;">save</button>
                </div>
            <div class="row">
                <div>   
                    <button type="cancel" class="btn btn-danger" style="float: right;">Cancel</button>
                </div>    
            </div>
                </form> 
                <app-success-modal [modalHeaderText]="'Success message'" 
                [modalBodyText]="'Action completed successfully'" [okButtonText]="'OK'" [routeToRedirect]="'/employee/list'"></app-success-modal>
            </div>
        </div>
    </div>

