<main class="content">
    <div class="container-fluid">
      <div class="header">
        <h1 class="header-title"> DataTables</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page">DataTables</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a [routerLink]="['/employee/create']">Create User</a>
              <h5 class="card-title">Patient List</h5>
            </div>
            <table class="table">
              <thead>
                <tr>
                 
                  <th class="d-none d-md-table-cell" style="width:30%">FirstName</th>
                  <th class="d-none d-md-table-cell" style="width:30%">Middle</th>
                  <th class="d-none d-md-table-cell" style="width:30%">LastName</th>
                  <th class="d-none d-md-table-cell" style="width:30%">DateOfBirth</th>
                  <th class="d-none d-md-table-cell" style="width:30%">SocialSecurityNumber</th>
                  <th class="d-none d-md-table-cell" style="width:30%">Gender</th>
                  <th class="d-none d-md-table-cell" style="width:30%">Phone1</th>
                  <th class="d-none d-md-table-cell" style="width:30%">Phone2</th>
                  <th class="d-none d-md-table-cell" style="width:30%">Email</th>
                  <th style="width:30%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employees">
                  <td>{{employee.firstName}}</td>
                  <td>{{employee.middle}}</td>
                  <td>{{employee.lastName}}</td>
                  <td>{{employee.dateOfBirth}}</td>
                  <td>{{employee.socialSecurityNumber}}</td>
                  <td>{{employee.gender}}</td>
                  <td>{{employee.phone1}}</td>
                  <td>{{employee.phone2}}</td>
                  <td>{{employee.eMail}}</td>
                  <td class="table-action">
                    <a href="#" (click)="redirectToDetailPage($event,employee)"><i class="align-middle fas fa-fw fa-list"></i></a>
                    <a href="#" (click)="redirectToUpdatePage($event,employee)"><i class="align-middle fas fa-fw fa-pen"></i></a>
                    <a href="#" id="{{employee.idEmployees}}" (click)="DeleteEmployee($event,employee)"><i class="align-middle fas fa-fw fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <app-delete-modal 
              [modalHeaderText]="'Delete message'" 
              [modalBodyText]="'Action completed successfully'" 
              [DeleteButtonText]="'Borrar'"
              [cancelButtonText]="'Cancelar'" 
              [routeToRedirect]="'/employee/list'">
            </app-delete-modal>
          </div>
        </div>
              <script>
          $(function() {
              // Datatables basic
              $('#datatables-basic').DataTable({
                  responsive: true
              });
              // Datatables with Buttons
              var datatablesButtons = $('#datatables-buttons').DataTable({
                  lengthChange: !1,
                  buttons: ["copy", "print"],
                  responsive: true
              });
              datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
          });
      </script>
  