<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>User Id:</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>User Name:</strong>
      </div>
      <div class="col-md-3">
        {{user?.userName}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>PassWord:</strong>
        </div>
        <div class="col-md-3">
          {{user?.pasword}}
        </div>
      </div>
  </div>
  
  