<main class="content">
  <div class="container-fluid">

    <div class="header">
      <h1 class="header-title">
        Form Layouts
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">Forms</a></li>
          <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
        </ol>
      </nav>
    </div>
<div class="row">
  <div class="col-12 col-xl-8">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Basic form</h5>
        <h6 class="card-subtitle text-muted">Default Bootstrap form layout.</h6>
      </div>
      <div class="card-body">
        <form [formGroup] ="userForm" novalidate (ngSubmit)="executeUserCreation(userForm.value)">
          <div class="form-group">
            <label class="form-label">UserName</label>
            <input type="text" formControlName="userName" id="userName"class="form-control" placeholder="userName">
          </div>
          <div class="form-group">
            <label class="form-label">Password</label>
            <input type="password" type="text" formControlName="password" id="pasword" class="form-control" placeholder="Password">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Role</label>
            <select id="roleId" formControlName="roleId" id="roleId" class="form-control">
                <option selected>Choose...</option>
                    <option>Admin</option>
                    <option>HR</option>
                    <option>Nurse</option>
                    <option>Coordinator</option>
                    <option>HHA</option>
                    <option>Patient</option>
                    <option>Physician</option>
                    <option>Doctor</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        <app-success-modal [modalHeaderText]="'Success message'" 
        [modalBodyText]="'Action completed successfully'" [okButtonText]="'OK'"></app-success-modal>
      </div>
    </div>
  </div>
